.results_title {
    background: white;
    h4.resultHeader {
        padding: 2em;
    }
    .sortBy {
        padding-top: 24px;   
    }
    .result_card {
        border-bottom: 1px solid #e8e8e8;
    }
    .hourly {
        background: #85d585;
        color: white;
        border-radius: 15px;
    }

    .part-time {
        background: #eeee6b;
        color: white;
        border-radius: 15px;
    }
    .result_rate {
        font-size: 0.60em;
    }
    .result_location {
        font-size: 0.75em;
    }
    .result_coder {
        font-size: 0.75em;
        color: #9a9adc;
    }
    .result_description {
        font-size: 0.9em;
    }
}
