.results_title {
    background: white;
    h4.resultHeader {
        padding: 2em;
    }
    .result_right_title {
        float: left;
        padding-left: 40px;
    }
    .result_left_title {
        padding-top: 24px;   
        float: right;
        padding-right: 40px;
    }
    .result_card {
        border-bottom: 1px solid #e8e8e8;
    }
    .hourly {
        background: rgb(86, 212, 143);
        color: white;
        border-radius: 15px;
    }
    .full-time {
        background: rgb(75, 211, 255);
        color: white;
        border-radius: 15px;
    }
    .part-time {
        background: rgb(255, 193, 74);;
        color: white;
        border-radius: 15px;
    }
    .result_rate {
        font-size: 0.60em;
    }
    .result_location {
        font-size: 0.75em;
    }
    .result_coder {
        font-size: 0.75em;
        color: #9a9adc;
    }
    .result_description {
        font-size: 0.9em;
    }
    .resultList {
        padding-left: 40px;
        padding-right: 10px;
    }
    .price_right {
        float: right;
        margin-right: 20px;
    }
    .result_skills {
        border-radius: 8px;
        font-size: 10px;
    }
    ul.ant-pagination {
        padding-bottom: 24px;
    }
}
